@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <h6 class="display-6">Conny Svensson</h6>
    <p class="col-sm-12">Mycket motiverad att utveckla mina färdigheter och lära mig ny teknologi. Jag är trygg i min förmåga att komma med intressanta idéer och att hitta unika lösningar till problem.</p>
    <p class="col-sm-12">I övrigt så tycker jag om att läsa böcker, vandra, tälta och fiska.</p>
</div>
