@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h1 class="display-4">Education</h1>
</div>

<div class="col-12">
    <div class="col-sm-12">
        <h6 class="display-6">Plushögskolan - Systemutvecklare .NET</h6>
        <h6 class="display-6">2020 - Ongoing</h6>
        <p>En utbildning fokuserad på .NET ekosystemet med speciell betoning på språket C#, HTML, CSS, Front- och backendutveckling.</p>
    </div>

    <div class="col-sm-12">
        <h6 class="display-6">Folkuniversitetet - Nätverksteknik, Apputveckling</h6>
        <h6 class="display-6">2013 - 2014</h6>
        <p>Gymnasieutbildning fokuserad på grunder i programmering, nätverksadministration samt datorteknik.</p>
    </div>

    <div class="col-sm-12">
        <h6 class="display-6">Västerbergs Folkhögskola</h6>
        <h6 class="display-6">2006 - 2009</h6>
        <p>Bred generell gymnasieutbildning.</p>
    </div>
</div>
