@{
    ViewData["Title"] = "Experience";
}

<div class="text-center">
    <h1 class="display-4">Experience</h1>
</div>

<div class="col-12">
    <div class="col-sm-12">
        <h6 class="display-6">InterMedia - Digitaliserare</h6>
        <h6 class="display-6">2018 - 2019</h6>
        <p>Rengöring, inscanning, bearbetning, retuschering samt arkivering av gamla foton åt Gävles Kommunarkiv.</p>
    </div>

    <div class="col-sm-12">
        <h6 class="display-6">Folkuniversitetet - IT-lärare - Mobil- webb och apputveckling</h6>
        <h6 class="display-6">2014 - 2015</h6>
        <p>Utforma utbildningsplan, lektioner, genomgångar och övningar. Stor fokus på att ge en bred generell bild runt både front- och backend programmering med HTML, CSS, JavaScript, PHP och SQL.</p>
    </div>

    <div class="col-sm-12">
        <h6 class="display-6">Lindab AB - Lagerarbetare, Kundmottagare</h6>
        <h6 class="display-6">2011 - 2012</h6>
        <p>Orderhantering, inköp, lagerplock, kundbemötande och truckförande.</p>
    </div>
</div>